
.icon-eitaa:before { content: '\e800'; } /* '' */
.icon-phone-circled:before { content: '\e802'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
